:root, :root[data-theme ="dark"]{

    /* Dark theme */
    --primary-color: #F0F0F0;

    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;
    --border-color: #56575A;

    --title-color: #F0F0F0;
    --text-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #C7C8C9;
    --search-bg-color: rgba(255, 255, 255, 0.2);
    --search-color: #fff;

    --padding-xs: .725rem;
    --padding-s: 1rem;
    --padding-m: 1.5rem;
    --padding-l: 2rem;
    --padding-xl: 2.5rem;
    --padding-xxl: 3.25rem;

    --font-size-xs: .875rem;
    --font-size-s: 1.25rem;
    --font-size-m: 1.5rem;

    --ff-default: "Roboto", sans-serif;
}

:root[data-theme ="light"]{
    /* Light Theme */

    --primary-color: #0B0B0F;

    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #f9f9f9;
    --border-color: #56575A;

    --title-color: #0B0B0F;
    --text-color: #28292E;
    --link-color: #28292E;
    --icon-color: #56575A;
    --search-bg-color: rgba(0, 0, 0, 0.2);
    --search-color: #000;

    --padding-xs: .725rem;
    --padding-s: 1rem;
    --padding-m: 1.5rem;
    --padding-l: 2rem;
    --padding-xl: 2.5rem;
    --padding-xxl: 3.25rem;

    --font-size-xs: .875rem;
    --font-size-s: 1.25rem;
    --font-size-m: 1.5rem;

    --ff-default: "Roboto", sans-serif;
}

body{
    font-family: var(--ff-default);
    background-color: var(--secondary-bg-color);
}

/* header-menu */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg-color);
    padding: .5rem;
    border-radius: 10px;
    position: fixed;
    width: 100%;
}

header i {
    color: var(--title-color);
    font-size: var(--font-size-s);
}

.col1, .col2 , .col3 {
    display: flex;
    align-items: center;
    gap: var(--padding-xs) var(--padding-s);
}

.logo{
    display: flex;
    align-items: center;
    gap: .375rem;
}

.ytbLogo{
    width: 30px;
}

.bi-search{
    font-size: var(--font-size-xs);
    padding: .375rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 360px;
}

.searchInput, .bi-camera-video, .bi-bell, .ytbTitleLogo{
    display: none;
}

.profilepic{
    width: 30px;
    height: 30px;
    border-radius: 360px;
}

/* main-largevideo-container */

.main__container{
    display: flex;
    flex-direction: column;
    gap: var(--font-size-s);
    padding: 3rem .5rem;
}

.main__container iframe {
    border-radius: 10px;
    height: 200px;
}

.video__title{
    font-size: 1rem;
}

.channel__details{
    display: flex;
    flex-direction: column;
    gap: var(--padding-xs);
}

.details__col1{
    display: flex;
    align-items: center;
    gap: var(--padding-xs);
}

.channel__img{
    width: 36px;
    height: 36px;
    border-radius: 360px;
}

.channel__detalils_text{
    font-family: var(--ff-default);
    display: flex;
    gap: .375rem;
    align-items: center;
}
.channel__name, .channel__cont{
    font-weight: 400;
    font-size: var(--padding-s);
}

.channel__name {
    font-weight: 600;
}

.subName{
    display: none;
}

.channel__cont{
    font-size: .875rem;
    color: var(--link-color);
}

.channel__sub{
    padding: .375rem var(--padding-m);
    background-color: #CC0000;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
}


.video__share span, .video__download span{
    display: none;
}

.details__col2{
    display: flex;
    gap: 2rem;
}

.video__details{
    display: flex;
    flex-direction: column;
    gap: var(--font-size-xs);
}

.video__details_views{
    font-size: var(--padding-xs);
    font-weight: 400;
}

.video__details_desc{
    font-size: var(--font-size-xs);
}


/* main-recomentation-tab */
.main__recomendation_tab{
    display: flex;
    flex-direction: column;
    gap: var(--padding-xl);
    padding: 0 .5rem;
    flex-wrap: wrap;
}

.recomendation__text{
    font-size: var(--font-size-xs);
    text-align: center;
    width: 100%;
}

.recomendation__video{
    display: flex;
    align-items: center;
    gap: .375rem;
}

.card__img{
    width: 10rem;
    border-radius: 10px;
    height: 6.35rem;
}

.card__texts{
    display: flex;
    flex-direction: column;
    gap: .375rem;
}

.card__title{
    font-size: .875rem;
    font-weight: 500;
}

.card__channel{
    font-size: .725rem;
}

.card__views{
    font-size: .725rem;
}


@media screen and (min-width: 768px){

    /* main-largevideo-container */
    .main__container iframe {
        height: 400px;
    }
    .channel__details{
        flex-direction: row;
        align-items: center;
    }
    .video__share, .video__download {
        display: flex;
        gap: var(--padding-xs);
    }
    .video__share span, .video__download span{
        display: block;
    }

    .video__title{
        font-size: var(--font-size-s);
    }

    .video__details_views, .video__details_desc{
        font-size: 1rem;
    }

    /* main-recomentation-tab */

    .recomendation__text{
        font-size: var(--font-size-s);
    }

    .recomendation__video{
        height: 10rem;
    }
    .card__img{
        width: 18rem;
        height: 10rem;
    }
    
    .card__texts{
        height: 100%;
        align-items: start;
        gap: var(--padding-xs)
    }

    .card__title{
        font-size: var(--font-size-s);
    }
    .card__views, .card__channel{
        font-size: 1rem;
    }

}

@media screen and (min-width: 1024px){
    /* header-menu */
    header i {
        font-size: 1.5rem;
    }

    .ytbTitleLogo{
        display: block;
        font-size: var(--font-size-s);
    }

    .col2{
        background-color: var(--border-color);
        height: 1.5rem;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        gap: .375rem;
        width: 13.125rem;
    }

    .searchInput{
        display: flex;
        height: 1.5rem;
        outline: none;
    }

    .bi-search{
        background-color: transparent;
        color: #fff;
        transform: scaleX(-1);
        cursor: pointer;
    }

    .bi-camera-video, .bi-bell{
        display: block;
        cursor: pointer;
    }

    .profilepic{
        width: 34px;
        height: 34px;
    }
    /* main-largevideo-container */
    .main__container iframe {
        height: 600px;
    }

    .video__title{
        font-size: var(--font-size-m);
    }

    .channel__img{
        width: 3rem;
        height: 3rem;
    }

    .channel__detalils_text{
        flex-direction: column;
        align-items: start;
    }
    
    .channel__name{
        font-size: 1.25rem;
    }

    .channel__cont{
        display: flex;
        gap: .2rem;
    }

    .subName{
        display: block;
    }

    .video__details_views, .video__details_desc{
        font-size: 1.15rem;
    } 

    .channel__sub{
        padding: .7rem var(--padding-l);
        font-size: 1.2rem;
    }

    .video__like, .video__deslike, .video__download, .video__share {
        font-size: 1.25rem;
    }

    /* main-recomentation-tab */

    /* .recomendation__text{
        font-size: var(--font-size-s);
    }

    .recomendation__video{
        height: 10rem;
    }
    .card__img{
        width: 18rem;
        height: 10rem;
    }
    
    .card__texts{
        height: 100%;
        align-items: start;
        gap: var(--padding-xs)
    }

    .card__title{
        font-size: var(--font-size-s);
    }
    .card__views, .card__channel{
        font-size: 1rem;
    } */

}